/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body{
 padding-left: 30px;
 padding-right: 30px;
}

.footer {
  margin-left: 0;
  margin-right: 0;
}

/*nav {
  background-color: #333;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #61dafb;
}

/*NAVBAR STYLES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}*/

.logo {
  width: 50px; 
  height: auto;
  margin-right: 10px;
  box-shadow: 1px 4px 5px 2px rgba(11, 11, 11, 0.3);
}

/*.navbar-right {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #61dafb;
}

.main-body {
  padding-top: 80px; 
}*/
